/* Global Style Variables */

:root {
    --ff-base: "Open Sans", system-ui;
    --fw-regular: 400;
    --fw-bold: 600;
    --primary-color: hsl(153, 56%, 31%);
    --accent-color: hsl(153, 56%, 29%);
    --background-color: hsl(153, 56%, 100%);
    --contrast-color: hsl(153, 56%, 97%); 
    --header-color: hsl(0.50, 0.14, 0.99);

    --fs-xl: 1.5rem;
    --fs-l: 1rem;
    --fs-m: 0.75rem;

}

hr {
    margin-top: var(--fs-m);
    margin-bottom: var(--fs-m);
    border-top: 0.25px lightgray solid;
    border-bottom: 0;
}

/* USE FOR TESTING */

/* .wrapper {
    border: 1px solid black;
} */

/* Global Style Variables */

* {
    font-family: var(--ff-base);
    /*background-color: var(--background-color);*/
}

/* Responsive Breakpoints */

.wrapper {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    
}

.main {
    padding-top: var(--fs-m);
    background-color: var(--contrast-color);
    min-height: 100vh;
    max-height: auto;
}

.main > * {
    background-color: var(--contrast-color);
}

@media (min-width: 475px) {
    .wrapper {
        max-width: 475px;
    }

}

@media (min-width: 640px){
    .wrapper {
        max-width: 640px;
    }

}

@media (min-width: 768px){
    .wrapper {
        max-width: 768px;
    }

    :root {
        --fs-xl: 2rem;
        --fs-l: 1.5rem;
        --fs-m: 1rem;
    }
}

@media (min-width: 1024px) {
    .wrapper {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {
    .wrapper {
        max-width: 1280px;
    }

    :root {
        --fs-xl: 2.25rem;
        --fs-l: 1.75rem;
        --fs-m: 1.25rem;
    }
}

@media (min-width: 1536px) {
    .wrapper {
        max-width: 1536px;
    }

}