/* Global Style Variables */

:root {
    --ff-base: "Noto Sans", verdana;
    --fw-regular: 400;
    --fw-bold: 900;
    --primary-color: hsl(153, 56%, 31%);
    --accent-color: hsl(153, 56%, 29%);
    --background-color: hsl(153, 56%, 100%);
    --contrast-color: hsl(153, 56%, 97%); 
    --button-contrast-color: hsl(150, 5%, 66%);
    --text-contrast-color: hsl(140, 1%, 45%);

    --fs-xxl: 2rem;
    --fs-xl: 1.25rem;
    --fs-l: 1rem;
    --fs-m: 0.75rem;

}

article {
    display: flex;
    flex-direction: column;
    gap: var(--fs-m);
    margin-bottom: var(--fs-m);
    padding: var(--fs-m);
    border-radius: 0.5rem;
    background: var(--background-color);
    max-width: 90%;
  }

  article > header {
    border-bottom: 1px solid lightgray;
    padding: 0 0 var(--fs-m) 0;
  }

  article > footer {
    border-top: 1px solid lightgray;
    padding: var(--fs-m) 0 0 0; 
    display: flex;
    justify-content: left;
    align-items: center;
    gap: calc(var(--fs-m) * 1.75);
  }

hr {
    margin-top: var(--fs-m);
    margin-bottom: var(--fs-m);
    border-top: 0.25px lightgray solid;
    border-bottom: 0;
}

/* USE FOR TESTING */

/* .wrapper {
    border: 1px solid black;
} */

/* Global Style Variables */

* {
    font-family: var(--ff-base);
    font-size: var(--fs-m);
    background-color: var(--background-color);
}

.pointer {
    cursor: pointer;
}


body {
    min-height: 100dvh;
}

button {
    font-size: var(--fs-l);
}

h1 {
    font-size: var(--fs-xl);
}
/* Responsive Breakpoints */

.wrapper {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    
}

.main {
    padding-top: var(--fs-m);
    background-color: var(--contrast-color);
    /* DANGEROUS PROPERTY, will cause overflow when margins are applied to main container
        min-height: 100vh;
    */
}

.main > * {
    background-color: var(--contrast-color);
}

@media (min-width: 475px) {
    .wrapper {
        max-width: 475px;
    }

}

@media (min-width: 640px){
    .wrapper {
        max-width: 640px;
    }

    :root {

        --fs-xxl: 2.375rem;
        --fs-xl: 1.375rem;
        --fs-l: 1.125rem;
        --fs-m: 0.875rem;
    }

}

@media (min-width: 768px){
    .wrapper {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .wrapper {
        max-width: 1024px;
    }

    :root {
        --fs-xxl: 2.75rem;
        --fs-xl: 1.5rem;
        --fs-l: 1.25rem;
        --fs-m: 1rem;
    }

}

@media (min-width: 1280px) {
    .wrapper {
        max-width: 1280px;
    }


}

@media (min-width: 1536px) {
    .wrapper {
        max-width: 1536px;
    }

}

.divider {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #4E504D;
}

.divider-line {
    width: 100%;
}
